node_modules/
frontend/node_modules/
uploads/*
!uploads/apk/
!uploads/apk/sheba-pos.apk
database/backups/*.sql
scratch_*.js
*.log

.vercel
.env*
.vscode/
*.apk
!uploads/apk/
!uploads/apk/sheba-pos.apk
!frontend/public/sheba-pos.apk
!frontend/dist/sheba-pos.apk
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
